## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101),k=80)
print(sample_list_1)

[3, 65, 76, 16, 63, 21, 84, 36, 56, 22, 87, 92, 74, 70, 68, 43, 82, 17, 64, 88, 86, 18, 95, 26, 12, 28, 45, 30, 44, 10, 51, 46, 39, 41, 52, 9, 0, 98, 31, 90, 85, 54, 91, 97, 62, 67, 19, 89, 73, 47, 80, 100, 75, 11, 81, 72, 96, 66, 24, 1, 42, 38, 83, 8, 40, 79, 23, 55, 53, 59, 78, 5, 69, 13, 60, 37, 4, 61, 7, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]
for step in range(81):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[52, 56, 62, 47, 78, 36, 36, 11, 42, 90, 96, 46, 8, 32, 3, 62, 51, 21, 82, 90, 84, 33, 93, 35, 95, 88, 48, 64, 59, 49, 79, 66, 76, 83, 86, 54, 13, 27, 18, 57, 63, 29, 78, 52, 35, 32, 7, 63, 22, 95, 8, 3, 9, 40, 62, 33, 95, 30, 41, 4, 52, 28, 32, 72, 23, 99, 37, 31, 39, 63, 11, 30, 96, 18, 23, 27, 36, 10, 44, 48, 12]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print("The length is now "+str(len(set2)))

The length is now 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1-set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print('The cardinality of set1 is '+str(len(set1)))
print('The cardinality of set2 is '+str(len(set2)))
print('set3 = set1 - set2 intersecion set1\nTherefore |set3|=|set1|-|set5|')
print('The cardinality of set3 is '+str(len(set3)))
#Test
print(len(set1)-len(set5)==len(set3))
print('set4 = set2 - set1 intersecion set2\nTherefore |set4|=|set2|-|set5|')
print('The cardinality of set4 is '+str(len(set4)))
#Test
print(len(set2)-len(set5)==len(set4))
print(len(set5))
print('set5 = set1 intersecion set2\nTherefore |set5|=|set1|-|set3| or |set5|=|set2|-|set4|')
print('The cardinality of set5 is '+str(len(set5)))
#Test
print(len(set1)-len(set3)==len(set5))
print(len(set2)-len(set4)==len(set5))

The cardinality of set1 is 80
The cardinality of set2 is 56
set3 = set1 - set2 intersecion set1
Therefore |set3|=|set1|-|set5|
The cardinality of set3 is 33
True
set4 = set2 - set1 intersecion set2
Therefore |set4|=|set2|-|set5|
The cardinality of set4 is 9
True
47
set5 = set1 intersecion set2
Therefore |set5|=|set1|-|set3| or |set5|=|set2|-|set4|
The cardinality of set5 is 47
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set3_4_5=set3.union(set4,set5)
set1_2=set1.union(set2)
set3_4_5 == set1_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
print(set1.pop())
print(set1)

{0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 30, 31, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 100}
0
{1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 30, 31, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for number in list_to_remove:
    if number in set1:
        set1.remove(number)
print(set1)

{3, 4, 5, 7, 8, 10, 12, 13, 16, 17, 18, 22, 23, 24, 26, 27, 28, 30, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 52, 53, 54, 55, 56, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 95, 96, 97, 98, 100}