# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [2]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [6]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [10]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    for i in iterator:
        if i % 2 == 0:
            break
        else:
            i = 0
    return i

In [11]:
iterator = iter([1,2,3,4,5,6,7,8])
divisible2(iterator)

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [12]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [13]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [14]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
     number = 0
     while number <= n:
        if number % 2 == 0:
            yield number
        number += 1

In [15]:
even=even_iterator(6)
for i in even:
    print(i)

0
2
4
6

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [16]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [17]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [18]:
# Your code here:
np.mean(iris)
# Recibo la media de todas las columnas con valores numericos

C:\Users\Anna\Anaconda3\envs\ironhack\lib\site-packages\numpy\core\fromnumeric.py:3370: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [19]:
# Your code here:
np.std(iris)
# Recibo la desviacion estandar de todas las columnas con valores numericos

C:\Users\Anna\Anaconda3\envs\ironhack\lib\site-packages\numpy\core\fromnumeric.py:3494: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [20]:
# Your code here:
iris_numeric=iris._get_numeric_data()
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [21]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [22]:
# Your code here:
iris_inch=cm_to_in(iris_numeric)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [23]:
# Define constant below:
error = 2

#Esta funcion recibe un numero y regresa un numero, luego se aplica al DF
def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error
iris_constant=add_constant(iris_numeric)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:
# Con funcion existente 
iris_numeric.apply(max,axis=1)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

In [25]:
# Con funcion definida
def maxr (row):
    x=0
    for i in row:
        if x < i:
            x=i
    return x
iris_numeric.apply(maxr,axis=1)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [26]:
# Your code here:
# En esta respuesta se computa la suma y se agregan las columnas dentro de la funcion
def combine1 (df) :
    df['total_length']=df['sepal_length']+df['petal_length']   
    df['total_width']=df['sepal_width']+df['petal_width']   
    return df
combine1(iris_constant)

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,7.1,5.5,3.4,2.2,10.5,7.7
1,6.9,5.0,3.4,2.2,10.3,7.2
2,6.7,5.2,3.3,2.2,10.0,7.4
3,6.6,5.1,3.5,2.2,10.1,7.3
4,7.0,5.6,3.4,2.2,10.4,7.8
...,...,...,...,...,...,...
145,8.7,5.0,7.2,4.3,15.9,9.3
146,8.3,4.5,7.0,3.9,15.3,8.4
147,8.5,5.0,7.2,4.0,15.7,9.0
148,8.2,5.4,7.4,4.3,15.6,9.7
149,7.9,5.0,7.1,3.8,15.0,8.8

In [27]:
# Your code here:
# En esta respuesta se computa la suma dentro de la funcion y se agregan las columnas fuera
def combine2 (df) :
    total_length=df['sepal_length']+df['petal_length']   
    total_width=df['sepal_width']+df['petal_width']   
    return total_length, total_width
iris_constant['total_length']=combine2(iris_constant)[0]
iris_constant['total_width']=combine2(iris_constant)[1]
iris_constant

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,7.1,5.5,3.4,2.2,10.5,7.7
1,6.9,5.0,3.4,2.2,10.3,7.2
2,6.7,5.2,3.3,2.2,10.0,7.4
3,6.6,5.1,3.5,2.2,10.1,7.3
4,7.0,5.6,3.4,2.2,10.4,7.8
...,...,...,...,...,...,...
145,8.7,5.0,7.2,4.3,15.9,9.3
146,8.3,4.5,7.0,3.9,15.3,8.4
147,8.5,5.0,7.2,4.0,15.7,9.0
148,8.2,5.4,7.4,4.3,15.6,9.7
149,7.9,5.0,7.1,3.8,15.0,8.8